
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1507790903004') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-weight: 400;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before { content: "\e6c9"; }

.icon-xia-copy:before { content: "\e600"; }

.icon-xiaoxitianchong:before { content: "\e621"; }

.icon-wode:before { content: "\e61b"; }

.icon-fujin:before { content: "\e603"; }

.icon-dingdan:before { content: "\e615"; }

.icon-shouye:before { content: "\e607"; }

.icon-saoyisao:before { content: "\e654"; }

.icon-yingyouer:before { content: "\e68c"; }

.icon-fanhui:before { content: "\e7a1"; }

.icon-sousuo:before { content: "\e631"; }

.icon-shanguangdeng-kai:before { content: "\e617"; }

.icon-shanguangdeng-guan:before { content: "\e618"; }

.icon-gaozhong:before { content: "\e606"; }

.icon-chuzhong:before { content: "\e608"; }

.icon-ertongbangjialesuomeirijintie:before { content: "\e601"; }

.icon-xia-copy-copy:before { content: "\e7a2"; }

